<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheet/app.css">
    <title>Document</title>
</head>

<body>
    <div class="div">
        <div class="ui three item menu fixed inverted">
            <a class="item"><i class="code icon"></i> Blog</a>
            <a class="item">Reviews</a>
            <a class="item ">Upcoming Events</a>
        </div>
    </div>