<%- include('./partials/header.ejs') %>
   <div class="div1">
    <% blog.forEach((data)=>{%>
        <%=data.title%>
            <%}) %>
   </div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, enim magni error sint placeat repellat voluptatibus soluta inventore expedita accusantium delectus ea asperiores vitae similique porro, ad, tenetur hic itaque?
<%- include('./partials/footer.ejs') %>